body {
	margin: 0;
		margin-top: 10px;
		margin-right: 200px;
		margin-left: 0px;
		margin-bottom: 10px;
	font-family: 'Roboto Mono';
	font-size: 30px;
	line-height: 2.5;
	color: orange;
}
*,
*:before
*:after {
	box-sizing: border-box;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}